<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNyanCats</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
    <h1>Welcome, <%=current_user.username.capitalize%></h1>
    <form action="<%=session_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="logout">

    </form>
    <% else  %>
    <a href= "<%=new_session_url%>">Login</a>
    <a href="<%=new_user_url%>">Create User</a>
    <% end %>
    <%= yield %>
  </body>
</html>
